.app {
	display: flex;
	flex-direction: row;
	margin-top: 40px;
}

.header,
.sidebar {
	flex: 1;
}

.main {
	flex: 3;
	justify-content: center;
	align-items: center;
}

.header img {
	margin: 0px 40px;
}
